

header{
    max-width: 1920px;
    margin: 0;
    text-align: center;
} 
 
h1{
    font-family: sans-serif;
    text-align: center;
}

hr{
    width: 800px;
}

.cover{
    box-sizing: border-box;
    margin: auto;
    width: 800px;
    height: 400px;
    background-color: rgb(254, 255, 255);
    border: grey solid 13px;
    background-image: url(/images/beach.jpg);
    background-repeat: no-repeat;
    background-size: 400px 400px;
    background-position: right top;
}

 nav ul a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    position: relative;
    left: 200px;
}

 nav ul a:hover{
    color: blue;
}

h4{
    font-family: sans-serif;
}

article{
    position: relative;
    top: 80px;
    margin-left: 20px;
}



.foot{
    position: relative;
    top: 130;
    left: 10px;
    margin-top: 90px;
    font-weight: bold;
    color: blue;
}

